<!-- section pied de page -->
<footer class="footer_section" id="contacts">
  <div class="container">
    <div class="row">
      <!-- Contact -->
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>
            Contactez-nous
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Adresse: NUKAFU
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Appel : +228 97980279/93502059
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Amosix_red_ivrivriigmail.com
              </span>
            </a>
          </div>
        </div>
      </div>

      <!-- Logo + description -->
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo">
            Amosix_red_ivrivrii
          </a>
          <p>
            Restaurant fusion mêlant saveurs du monde et créations originales. Une expérience unique pour vos papilles.
          </p>
          <div class="footer_social">
            <a href="https://wa.me/93502059"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/amosix_red_ivrivrii_chicken?igsh=MXdnamV3aWczcWgwYw=="><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.tiktok.com/@amosix_red_ivrivrii?_t=ZS-8vS9FOa1k7m&_r=1"><i class="fab fa-tiktok" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <!-- Horaires -->
      <div class="col-md-4 footer-col">
        <h4>
          Heures d'ouverture
        </h4>
        <p>
          Tous les jours
        </p>
        <p>
          10h00 - 22h00
        </p>
      </div>
    </div>

    <!-- Mentions légales -->
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> Tous droits réservés par
        <a href="">Amosix_red_ivrivrii_chicken</a><br><br>
      </p>
    </div>
  </div>
</footer>
<!-- section pied de page -->
